<app-connexion-button (connexionEvent)="onConnexion()"></app-connexion-button>
<a href="/api/spotify/APILogin">test</a><br />
<a href="/api/spotify/login">test2</a>
<div class="container">
  <div class="duo liste">
    <div class="accordion" id="accordionExample">
      <mat-accordion>
        <app-liste-deroulante
          title="Choisis une playlist My.Blind.Test."
          [playlists]="playlists"
          (toggled)="displayPlaylists()"
          (itemSelectedEvent)="playlistSelected($event)"
        ></app-liste-deroulante>
        <app-liste-deroulante
          title="  Choisis une des tes playlists Spotify"
          [playlists]="userPlaylists"
          (toggled)="displayUserPlaylists()"
          (itemSelectedEvent)="playlistSelected($event)"
        ></app-liste-deroulante>
        <app-liste-deroulante
          title=" Choisis une catégorie Spotify "
          [playlists]="categories"
          (toggled)="displayCategories()"
          (itemSelectedEvent)="categoriesSelected($event)"
        ></app-liste-deroulante>
        <app-liste-deroulante
          title="Collapsible Group Item #3"
        ></app-liste-deroulante>
      </mat-accordion>
    </div>
  </div>
</div>

<div id="popup1" class="overlay"></div>

<a href="#popup1"> <div class="fixed-div">i</div> </a>
<app-hero-frame></app-hero-frame>
