<app-connexion-button
  #connexionButton
  [title]="userName"
  (connexionEvent)="onConnexion()"
></app-connexion-button>
<a id="APIConnexion" href="/api/spotify/APILogin">test</a><br />

<div class="container">
  <div class="duo liste">
    <div class="accordion" id="accordionExample">
      <mat-accordion>
        <app-liste-deroulante
          title="Choisis une playlist My.Blind.Test."
          [playlists]="playlists"
          (toggled)="displayPlaylists()"
          (itemSelectedEvent)="playlistSelected($event)"
        ></app-liste-deroulante>
        <app-liste-deroulante
          title="  Choisis une des tes playlists Spotify"
          [playlists]="userPlaylists"
          (toggled)="displayUserPlaylists()"
          (itemSelectedEvent)="playlistSelectedAPI($event)"
        ></app-liste-deroulante>
        <app-liste-deroulante
          title=" Choisis une catégorie Spotify "
          [playlists]="categories"
          (toggled)="displayCategories()"
          (itemSelectedEvent)="categoriesSelected($event)"
        ></app-liste-deroulante>

        <app-liste-deroulante
          *ngIf="showCategoryPlaylists"
          [title]="titleCategorie"
          [blOpenClose]="showCategoryPlaylists"
          [playlists]="categoryPlaylists"
          (itemSelectedEvent)="playlistSelectedAPI($event)"
        ></app-liste-deroulante>
      </mat-accordion>
    </div>
  </div>
  <app-hero-frame></app-hero-frame>
  <app-info-button></app-info-button>
</div>
