<section id="jeu">
  <div id="avancement">{{ avancement }}</div>

  <app-audio-player
    [src]="src"
    [autoplay]="autoplay"
    (playPausePressedEvent)="playPausePressed()"
    (audioEndedEvent)="onAudioEnded()"
  ></app-audio-player>
  <div id="lecteur"></div>
  <input
    #tryValue
    type="search"
    class="textTry"
    id="valueToTry"
    placeholder="Une idée du nom de la chanson ou de l'artiste?"
    size="50"
  />

  <div class="wrapbtn">
    <app-simple-button
      title="Je me lance!"
      (click)="methodtryValue($event, tryValue.value)"
    ></app-simple-button>
    <app-simple-button
      title="Aucune idée , Chanson suivante!"
      (click)="chansonSuivante()"
    ></app-simple-button>
  </div>
  <div id="resultat">{{ resultat }}</div>
  <div id="score">score : {{ score }}/20</div>

  <app-simple-button
    title=" Changer de playlist"
    (click)="RetourChoixPlaylist()"
  ></app-simple-button>
  <br />
  <app-info-button></app-info-button>
</section>
