<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ExpressGeneratorTypeScriptApp</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>
        <div id="choixPlaylist"></div>
        <button id="nextPlaylist"> NEXT</button>
        <div id="avancement"></div>
        <div id="lecteur">
 
            <audio autoplay = "true" id ="lecteurAudio"
                controls
                src="">
                    Your browser does not support the
                    <code>audio</code> element.
            </audio>
            <input id="valueToTry">
            </input>
            <button id="try">Je me lance</button>
            <button id="nextTrack"> NEXT</button>
            <div id="resultat"></div>
          </div>


    </body>
    <script src="scripts/commun.js"></script>
    <script src="scripts/jeu.js"></script>
</html>
