<!doctype html>
<html>
  <head>
    <title>My BlindTest For Fun</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
      #login, #loggedin {
        display: none;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }
    </style>
  </head>

  <body>

<div id = "playlists"> Charger Playlists</div>

<div id="clear">Vider la fenêtre</div>
<div id="listPlaylists"> </div> 
<div id="resultat"></div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </body>
<script>
    const btnPlaylist = document.getElementById("playlists");
    const btnClear = document.getElementById("clear");
    const  listPlaylists = document.getElementById("listPlaylists");

    btnPlaylist.addEventListener("click", chargement);
    btnClear.addEventListener("click", () => listPlaylists.innerHTML = "" );


    function chargement() {
    $.ajax({
      url: "/api/spotify/playlists"
      }).done(function (data) {
        listPlaylists.innerHTML = '';
      items = data.data.items;
      listPlaylists.innerHTML = '<ul>'
      for (item of items){
        listPlaylists.innerHTML+= '<li onclick="chargementOnePlaylist(\''+item.id  +  '\')"> '  + item.name + ' </li>' 
        }

listPlaylists.innerHTML+=  '</ul>'

  
      });
    };
  
    function chargementOnePlaylist(id) {
    $.ajax({
      url: "/api/spotify/playlist",
      data: {
                'idPlaylist': id
              }
      }).done(function (data) {
      items = data;
      });
    };


</script>
</html>