<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My.Blind.Test.</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jeu.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/popup.css" />
  </head>
  <body>
    <section id="jeu">
      <div id="avancement"></div>
      <button class="playpausebutton" id="PlayPause"></button>
      <div id="lecteur">
        <div class="progress-bar">
          <audio autoplay="false" id="lecteurAudio" src="">
            Your browser does not support the
            <code>audio</code> element.
          </audio>

          <div class="progress"></div>
        </div>
      </div>
      <input type="text" class="textTry" id="valueToTry" placeholder="Une idée du nom de la chanson ou de l'artiste?" size="50"></input>
      
      
    <div class="wrapbtn"> <a class="button1" id="try">Je me lance!</a>
      <a class="button1" id="nextTrack"> Aucune idée , Chanson suivante! </a></div> 
      <div id="resultat"></div>
   <div id="score"></div>
      <a class="button1" id="changerPlaylist"> Changer de playlist</a>
      <br />
   
      <div id="popup1" class="overlay">
        <div class="popup">
          <a class="close" href="#">&times;</a>
          <div class="content">
            <h3>Bienvenue sur la V1 de My.Blind.Test!</h3>
            De futur améliorations sont prévues.
            <br />
            Une V2 avec la possibilité de se connecter à son compte spotify pour
            jouer à partir d'une de ses propres playlists ou de choisir une
            playlist public spotify sans connexion.
            <br />
            Une V3, où il sera possible de jouer à plusieurs.
            <br />
            En attendant, si vous avez des remarques ou des idées vous pouvez me
            contacter sur
            <a href="https://www.linkedin.com/in/elise-juif-826b466a/"
              >Linkedin.</a
            >
            <br />
          </div>
        </div>
      </div>
      <div class="fixed-div">i</div>
    </section>
  </body>
  <script src="/scripts/commun.js"></script>
  <script src="/scripts/jeu.js"></script>
</html>
