@import "./btnPlayPause.css";
@import "./progressBar.css";
@import "./button1.css";

body {
  background: linear-gradient(to left, var(--pink), var(--purple));
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--pink);
}
#jeu {
  padding: 20px;
  height: 60vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
#resultat {
  height: 50px;
}
