:root {
  --pink: pink;
  --purple: #32263a;
  --hoover: white;
}

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body .users-column {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
}

body .users-column .column-header {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 1.2em;
}

body .add-user-col input {
  margin-bottom: 10px;
}

body .users-column .user-display-ele {
  padding-bottom: 10px;
}

body .users-column .user-display-ele button {
  margin-top: 2px;
  margin-bottom: 10px;
}

body .users-column .user-display-ele .edit-view {
  display: none;
}

.fixed-div {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 50px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 3px solid var(--purple);
  align-content: center;
  text-align: center;
  font-size: larger;
  font-weight: 800;
  color: var(--purple);
  transition: font-size 0.3s ease, color 0.3s ease;
}

.fixed-div:hover {
  color: var(--hoover);
  border-color: var(--hover);
  width: 30px;
  height: 30px;
  font-size: x-large;
}
