#loginSpotify {
  border-radius: 0%;
  border: transparent;
  color: white;
  background-color: black;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
}
#loginSpotify i {
  color: #1ed760;
}
