<div class="popup">
  <h1 mat-dialog-title>Bienvenue sur la V2 de My.Blind.Test!</h1>
  <div mat-dialog-content>
    <div mat-dialog-actions>
      <button class="close" mat-button mat-dialog-close>&times;</button>
    </div>

    <div class="content">
      De futur améliorations sont prévues :
      <br />
      <ul>
        <li>
          Une V2.5 avec la possibilité de jouer en "mode soirée" avec un maitre
          du jeu qui peut voir la réponse.
        </li>
        <br />
        <li>Une V3, où il sera possible de jouer à plusieurs.</li>
      </ul>
      <br />
      En attendant, si vous avez des remarques ou des idées vous pouvez me
      contacter sur
      <a href="https://www.linkedin.com/in/elise-juif-826b466a/">Linkedin.</a>
      <br />
    </div>
  </div>
</div>
