<mat-expansion-panel
  hideToggle
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
  [expanded]="blOpenClose"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <div
              (click)="toggle()"
              class="btn btn-link btn-block text-left"
              id="getBDDPlaylist"
              type="button"
              data-toggle="collapse"
              data-target="#listePlaylist"
              aria-expanded="true"
              aria-controls="listePlaylist"
            >
              {{ title }} <i class="icon-circle-down"></i>
            </div>
          </h2>
        </div>
      </div>
    </mat-panel-title>
    <mat-panel-description> </mat-panel-description>
  </mat-expansion-panel-header>

  <div
    id="listePlaylist"
    class="collapse reverseScroll"
    aria-labelledby="headingOne"
    data-parent="#accordionExample"
  >
    <ul>
      <li
        class="cursor-pointer"
        *ngFor="let playlist of playlists"
        (click)="itemSelected(playlist)"
      >
        <a>{{ playlist.name }}</a>
      </li>
    </ul>

    <div class="card-body"></div>
  </div>
</mat-expansion-panel>
