<mat-expansion-panel
  #matExpansionPanelElement
  hideToggle
  [expanded]="blOpenClose"
  (opened)="setBlOpenClose(true)"
  (closed)="setBlOpenClose(false)"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2 class="mb-0" class="btn-link" type="button">
        {{ title }}
        <i [ngClass]="isIconUp ? 'icon-circle-up' : 'icon-circle-down'"></i>
      </h2>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div *ngIf="items; else spinner" class="collapse reverseScroll">
    <ul>
      <li
        class="cursor-pointer"
        *ngFor="let item of items"
        (click)="itemSelected(item)"
      >
        <a>{{ item.name }}</a>
      </li>
      <li (click)="showMore()"><i class="icon-plus"></i></li>
    </ul>

    <div class="card-body"></div>
  </div>
  <ng-template #spinner><app-spinner></app-spinner></ng-template>
</mat-expansion-panel>
